<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LPic</key>
	<array>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAIAEQADAAEAAAAAAAIAAAAIAAMAAAABAAQAAAAEAAUAAAAOAAYAAQAFAAcAAAAHAAgAAABHAAkAAAA0AAoAAQA1AAsAAQAgAAwAAAARAA0AAABbAAQAAAAzAA8AAQAMABAAAAALAA4AAA==</data>
			<key>ID</key>
			<string>5000</string>
			<key>Name</key>
			<string></string>
		</dict>
	</array>
	<key>STR#</key>
	<array>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkHRGV1dHNjaAtBa3plcHRpZXJlbghBYmxlaG5lbgdEcnVja2VuClNpY2hlcm4uLi7nS2xpY2tlbiBTaWUgaW4g0kFremVwdGllcmVu0ywgd2VubiBTaWUgbWl0IGRlbiBCZXN0aW1tdW5nZW4gZGVzIFNvZnR3YXJlLUxpemVuenZlcnRyYWdzIGVpbnZlcnN0YW5kZW4gc2luZC4gRmFsbHMgbmljaHQsIGJpdHRlINJBYmxlaG5lbtMgYW5rbGlja2VuLiBTaWUga5pubmVuIGRpZSBTb2Z0d2FyZSBudXIgaW5zdGFsbGllcmVuLCB3ZW5uIFNpZSDSQWt6ZXB0aWVyZW7TIGFuZ2VrbGlja3QgaGFiZW4uFlNvZnR3YXJlLUxpemVuenZlcnRyYWd/RGllc2VyIFRleHQga2FubiBuaWNodCBnZXNpY2hlcnQgd2VyZGVuLiBEaWVzZSBGZXN0cGxhdHRlIGlzdCBtmmdsaWNoZXJ3ZWlzZSB2b2xsIG9kZXIgZ2VzY2ifdHp0IG9kZXIgZGVyIE9yZG5lciBpc3QgZ2VzY2ifdHp0LlhFcyBrYW5uIG5pY2h0IGdlZHJ1Y2t0IHdlcmRlbi4gQml0dGUgc3RlbGxlbiBTaWUgc2ljaGVyLCBkYacgZWluIERydWNrZXIgYXVzZ2V3imhsdCBpc3Qu</data>
			<key>ID</key>
			<string>5001</string>
			<key>Name</key>
			<string>German</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkHRW5nbGlzaAVBZ3JlZQhEaXNhZ3JlZQVQcmludAdTYXZlLi4uuUlNUE9SVEFOVCAtIFJlYWQgdGhpcyBMaWNlbnNlIEFncmVlbWVudCBjYXJlZnVsbHkgYmVmb3JlIGNsaWNraW5nIG9uIHRoZSAiQWdyZWUiIGJ1dHRvbi4gIEJ5IGNsaWNraW5nIG9uIHRoZSAiQWdyZWUiIGJ1dHRvbiwgeW91IGFncmVlIHRvIGJlIGJvdW5kIGJ5IHRoZSB0ZXJtcyBvZiB0aGUgTGljZW5zZSBBZ3JlZW1lbnQuGlNvZnR3YXJlIExpY2Vuc2UgQWdyZWVtZW50VlRoaXMgdGV4dCBjYW5ub3QgYmUgc2F2ZWQuIFRoaXMgZGlzayBtYXkgYmUgZnVsbCBvciBsb2NrZWQsIG9yIHRoZSBmaWxlIG1heSBiZSBsb2NrZWQuNVVuYWJsZSB0byBwcmludC4gTWFrZSBzdXJlIHlvddV2ZSBzZWxlY3RlZCBhIHByaW50ZXIu</data>
			<key>ID</key>
			<string>5002</string>
			<key>Name</key>
			<string>English</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkHRXNwYZZvbAdBY2VwdGFyCk5vIGFjZXB0YXIISW1wcmltaXIKR3VhcmRhci4uLsBTaSBlc3SHIGRlIGFjdWVyZG8gY29uIGxvcyB0jnJtaW5vcyBkZSBlc3RhIGxpY2VuY2lhLCBwdWxzZSAiQWNlcHRhciIgcGFyYSBpbnN0YWxhciBlbCBzb2Z0d2FyZS4gRW4gZWwgc3VwdWVzdG8gZGUgcXVlIG5vIGVzdI4gZGUgYWN1ZXJkbyBjb24gbG9zIHSOcm1pbm9zIGRlIGVzdGEgbGljZW5jaWEsIHB1bHNlICJObyBhY2VwdGFyLiIUTGljZW5jaWEgZGUgU29mdHdhcmVrRXN0ZSB0ZXh0byBubyBzZSBwdWVkZSBndWFyZGFyLiBFbCBkaXNjbyBwdWVkZSBlc3RhciBsbGVubyBvIGJsb3F1ZWFkbywgbyBlbCBhcmNoaXZvIHB1ZWRlIGVzdGFyIGJsb3F1ZWFkby5CTm8gc2UgcHVlZGUgaW1wcmltaXIuIENvbXBydWViZSBxdWUgaGEgc2VsZWNjaW9uYWRvIHVuYSBpbXByZXNvcmEu</data>
			<key>ID</key>
			<string>5003</string>
			<key>Name</key>
			<string>Spanish</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkIRnJhbo1haXMIQWNjZXB0ZXIHUmVmdXNlcghJbXByaW1lcg5FbnJlZ2lzdHJlci4uLrpTaSB2b3VzIGFjY2VwdGV6IGxlcyB0ZXJtZXMgZGUgbGEgcHKOc2VudGUgbGljZW5jZSwgY2xpcXVleiBzdXIgIkFjY2VwdGVyIiBhZmluIGQnaW5zdGFsbGVyIGxlIGxvZ2ljaWVsLiBTaSB2b3VzIG4nkHRlcyBwYXMgZCdhY2NvcmQgYXZlYyBsZXMgdGVybWVzIGRlIGxhIGxpY2VuY2UsIGNsaXF1ZXogc3VyICJSZWZ1c2VyIi4eQ29udHJhdCBkZSBsaWNlbmNlIGRlIGxvZ2ljaWVsfENlIHRleHRlIG5lIHBldXQgkHRyZSBzYXV2ZWdhcmSOLiBMZSBkaXNxdWUgZXN0IHBldXQtkHRyZSBzYXR1co4gb3UgdmVycm91aWxsjiwgb3UgYmllbiBsZSBmaWNoaWVyIGVzdCBwZXV0LZB0cmUgdmVycm91aWxsji5HSW1wcmVzc2lvbiBpbXBvc3NpYmxlLiBBc3N1cmV6LXZvdXMgZNVhdm9pciBzjmxlY3Rpb25ujiB1bmUgaW1wcmltYW50ZS4=</data>
			<key>ID</key>
			<string>5004</string>
			<key>Name</key>
			<string>French</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkISXRhbGlhbm8HQWNjZXR0bwdSaWZpdXRvBlN0YW1wYQtSZWdpc3RyYS4uLn9TZSBhY2NldHRpIGxlIGNvbmRpemlvbmkgZGkgcXVlc3RhIGxpY2VuemEsIGZhaSBjbGljIHN1ICJBY2NldHRvIiBwZXIgaW5zdGFsbGFyZSBpbCBzb2Z0d2FyZS4gQWx0cmltZW50aSBmYWkgY2xpYyBzdSAiUmlmaXV0byIuEExpY2VuemEgU29mdHdhcmV2Tm9uIHBvc3NvIHJlZ2lzdHJhcmUgaWwgdGVzdG8uIElsIGRpc2NvIHBvdHJlYmJlIGVzc2VyZSBwaWVubyBvIHByb3RldHRvIG9wcHVyZSBpbCBkb2N1bWVudG8gcG90cmViYmUgZXNzZXJlIHByb3RldHRvLkFOb24gcG9zc28gc3RhbXBhcmUuIEFzc2ljdXJhdGkgZGkgYXZlciBzZWxlemlvbmF0byB1bmEgc3RhbXBhbnRlLg==</data>
			<key>ID</key>
			<string>5005</string>
			<key>Name</key>
			<string>Italian</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkISmFwYW5lc2UKk6+I04K1gtyCtwyTr4jTgrWC3IK5gvEIiPON/IK3gukHlduRti4uLrSWe4Ncg3SDZ4NFg0eDQY5nl3CLlpH4jF+W8YLMj/CMj4LJk6+I04KzguqC6Y/qjYeCyYLNgUGDXIN0g2eDRYNHg0GC8INDg5ODWINngVuDi4K3gumCvYLfgsmBdZOviNOCtYLcgreBdoLwiZ+CtYLEgq2CvoKzgqKBQoFAk6+I04KzguqCyIKij+qNh4LJgs2BQYF1k6+I04K1gtyCuYLxgXaC8ImfgrWCxIKtgr6Cs4KigUIYg1yDdINng0WDRoNBjmeXcIuWkfiMX5bxlIKxgsyDZYNMg1iDZ4LNgUGV25G2gsWCq4LcgrmC8YFCgrGCzINmg0KDWINOgsmL84KrgqqWs4KigqmDjYNig06Cs4LqgsSCooLpicKUXJCrgqqCoILogtyCt4FCgtyCvYLNgUGCsYLMg3SDQINDg4uCqoONg2KDToKzguqCxIKigumJwpRckKuCqoKgguiC3IK3gUJGiPON/ILFgquC3IK5gvGBQoN2g4qDk4NegqqQs4K1gq2RSZHwgrOC6oLEgqKC6YKxgsaC8IptlEaCtYLEgq2CvoKzgqKBQg==</data>
			<key>ID</key>
			<string>5006</string>
			<key>Name</key>
			<string>Japanese</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkKTmVkZXJsYW5kcwJKYQNOZWUFUHJpbnQJQmV3YWFyLi4upEluZGllbiB1IGFra29vcmQgZ2FhdCBtZXQgZGUgdm9vcndhYXJkZW4gdmFuIGRlemUgbGljZW50aWUsIGt1bnQgdSBvcCAnSmEnIGtsaWtrZW4gb20gZGUgcHJvZ3JhbW1hdHV1ciB0ZSBpbnN0YWxsZXJlbi4gSW5kaWVuIHUgbmlldCBha2tvb3JkIGdhYXQsIGtsaWt0IHUgb3AgJ05lZScuEFNvZnR3YXJlbGljZW50aWVxRGUgdGVrc3Qga2FuIG5pZXQgd29yZGVuIGJld2FhcmQuIEhldCBrYW4gemlqbiBkYXQgdXcgc2NoaWpmIHZvbCBvZiBiZXZlaWxpZ2QgaXMgb2YgZGF0IGhldCBiZXN0YW5kIGJldmVpbGlnZCBpcy5BQWZkcnVra2VuIG5pZXQgbW9nZWxpamsuIFpvcmcgZGF0IGVyIGVlbiBwcmludGVyIGlzIGdlc2VsZWN0ZWVyZC4=</data>
			<key>ID</key>
			<string>5007</string>
			<key>Name</key>
			<string>Dutch</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkGU3ZlbnNrCEdvZGuKbm5zBkF2YppqcwhTa3JpdiB1dAhTcGFyYS4uLpNPbSBEdSBnb2Rrim5uZXIgbGljZW5zdmlsbGtvcmVuIGtsaWNrYSBwjCAiR29ka4pubnMiIGaaciBhdHQgaW5zdGFsbGVyYSBwcm9ncmFtcHJvZHVrdGVuLiBPbSBEdSBpbnRlIGdvZGuKbm5lciBsaWNlbnN2aWxsa29yZW4sIGtsaWNrYSBwjCAiQXZimmpzIi4eTGljZW5zYXZ0YWwgZppyIFByb2dyYW1wcm9kdWt0akRlbiBoinIgdGV4dGVuIGthbiBpbnRlIHNwYXJhcyBlZnRlcnNvbSBhbnRpbmdlbiBza2l2YW4ginIgZnVsbCBlbGxlciBza2l2YW4gb2NoL2VsbGVyIGRva3VtZW50ZXQginIgbIxzdC49S2FuIGludGUgc2tyaXZhIHV0LiBLb250cm9sbGVyYSBhdHQgZHUgaGFyIHZhbHQgZW4gc2tyaXZhcmUuIA==</data>
			<key>ID</key>
			<string>5008</string>
			<key>Name</key>
			<string>Swedish</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkRUG9ydHVndZBzLCBCcmFzaWwJQ29uY29yZGFyCURpc2NvcmRhcghJbXByaW1pcglTYWx2YXIuLi6MU2UgZXN0hyBkZSBhY29yZG8gY29tIG9zIHRlcm1vcyBkZXN0YSBsaWNlbo1hLCBwcmVzc2lvbmUgIkNvbmNvcmRhciIgcGFyYSBpbnN0YWxhciBvIHNvZnR3YXJlLiBTZSBui28gZXN0hyBkZSBhY29yZG8sIHByZXNzaW9uZSAiRGlzY29yZGFyIi4aTGljZW6NYSBkZSBVc28gZGUgU29mdHdhcmVoRXN0ZSB0ZXh0byBui28gcG9kZSBzZXIgc2Fsdm8uIE8gZGlzY28gcG9kZSBlc3RhciBjaGVpbyBvdQ1ibG9xdWVhZG8sIG91IG8gYXJxdWl2byBwb2RlIGVzdGFyIGJsb3F1ZWFkby5FTotvII4gcG9zc5J2ZWwgaW1wcmltaXIuIENvbXByb3ZlIHF1ZSB2b2OQIHNlbGVjaW9ub3UgdW1hIGltcHJlc3NvcmEu</data>
			<key>ID</key>
			<string>5009</string>
			<key>Name</key>
			<string>Brazilian Portuguese</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkFRGFuc2sERW5pZwVVZW5pZwdVZHNrcml2CkFya2l2ZXIuLi6YSHZpcyBkdSBhY2NlcHRlcmVyIGJldGluZ2Vsc2VybmUgaSBsaWNlbnNhZnRhbGVuLCBza2FsIGR1IGtsaWtrZSBwjCDSRW5pZ9MgZm9yIGF0IGluc3RhbGxlcmUgc29mdHdhcmVuLiBLbGlrIHCMINJVZW5pZ9MgZm9yIGF0IGFubnVsbGVyZSBpbnN0YWxsZXJpbmdlbi4ZTGljZW5zYWZ0YWxlIGZvciBzb2Z0d2FyZVdUZWtzdGVuIGthbiBpa2tlIGFya2l2ZXJlcy4gRGlza2VuIGVyIGV2dC4gZnVsZCBlbGxlciBsjHN0LCBlbGxlciBvZ3OMIGVyIGFya2l2ZXQgbIxzdC44S2FuIGlra2UgdWRza3JpdmUuIFO/cmcgZm9yLCBhdCBkZXIgZXIgdmFsZ3QgZW4gcHJpbnRlci4=</data>
			<key>ID</key>
			<string>5012</string>
			<key>Name</key>
			<string>Danish</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkFU3VvbWkISHl2imtzeW4KRW4gaHl2imtzeQdUdWxvc3RhCVRhbGxlbm5hyW9IeXaKa3N5IGxpc2Vuc3Npc29waW11a3NlbiBlaGRvdCBvc29pdHRhbWFsbGEg1Uh5doprc3nVLiBKb3MgZXQgaHl2imtzeSBzb3BpbXVrc2VuIGVodG9qYSwgb3NvaXRhINVFbiBoeXaKa3N51S4PTGlzZW5zc2lzb3BpbXVzPVRla3N0aYogZWkgdm9pZGEgdGFsbGVudGFhLiBMZXZ5IHZvaSBvbGxhIHSKeW5uiiB0YWkgbHVraXR0dS4/VGVrc3RpiiBlaSB2b2lkYSB0dWxvc3RhYS4gVmFybWlzdGEsIGV0dIoga2lyam9pdGluIG9uIHZhbGl0dHUu</data>
			<key>ID</key>
			<string>5013</string>
			<key>Name</key>
			<string>Finnish</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkRRnJhbo1haXMgY2FuYWRpZW4IQWNjZXB0ZXIHUmVmdXNlcghJbXByaW1lcg5FbnJlZ2lzdHJlci4uLrpTaSB2b3VzIGFjY2VwdGV6IGxlcyB0ZXJtZXMgZGUgbGEgcHKOc2VudGUgbGljZW5jZSwgY2xpcXVleiBzdXIgIkFjY2VwdGVyIiBhZmluIGQnaW5zdGFsbGVyIGxlIGxvZ2ljaWVsLiBTaSB2b3VzIG4nkHRlcyBwYXMgZCdhY2NvcmQgYXZlYyBsZXMgdGVybWVzIGRlIGxhIGxpY2VuY2UsIGNsaXF1ZXogc3VyICJSZWZ1c2VyIi4eQ29udHJhdCBkZSBsaWNlbmNlIGRlIGxvZ2ljaWVsfENlIHRleHRlIG5lIHBldXQgkHRyZSBzYXV2ZWdhcmSOLiBMZSBkaXNxdWUgZXN0IHBldXQtkHRyZSBzYXR1co4gb3UgdmVycm91aWxsjiwgb3UgYmllbiBsZSBmaWNoaWVyIGVzdCBwZXV0LZB0cmUgdmVycm91aWxsji5HSW1wcmVzc2lvbiBpbXBvc3NpYmxlLiBBc3N1cmV6LXZvdXMgZNVhdm9pciBzjmxlY3Rpb25ujiB1bmUgaW1wcmltYW50ZS4=</data>
			<key>ID</key>
			<string>5014</string>
			<key>Name</key>
			<string>French Canadian</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkGS29yZWFuBLW/wMcJtb/AxyC+yMfUBsfBuLDGrgfA+sDlLi4ufrvnv+sgsOi+4LytwMcgs7u/67+hILW/wMfHz7jpLCAitb/AxyIgtNzD37imILStt68gvNLHwcauv/6+7rimILyzxKHHz73KvcO/wC4gtb/Ax8fPwfYgvsq0wrTZuOksICK1v8DHIL7Ix9QiILTcw9+4piC0qbijvcq9w7/ALhC757/rILDovuAgtb/Ax7ytacDMIMXYvbrGrrimIMD6wOXH0iC89iC++L3AtM+02S4gwMwgtfC9usWptMIgsssgw6GwxbOqIMDhsNwgwNa9wLTPtNkuILbHtMIgxsTAz8DMIMDhsNwgwNbAuyC89rW1IMDWvcC0z7TZLjfHwbiwxq7H0iC89iC++L3AtM+02S4gx8G4sMXNuKYgvLHFw8fftMLB9iDIrsDOx8+9yr3Dv8Au</data>
			<key>ID</key>
			<string>5015</string>
			<key>Name</key>
			<string>Korean</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAkFTm9yc2sERW5pZwlJa2tlIGVuaWcIU2tyaXYgdXQKQXJraXZlci4uLqNIdmlzIERlIGVyIGVuaWcgaSBiZXN0ZW1tZWxzZW5lIGkgZGVubmUgbGlzZW5zYXZ0YWxlbiwga2xpa2tlciBEZSBwjCAiRW5pZyIta25hcHBlbiBmb3IgjCBpbnN0YWxsZXJlIHByb2dyYW12YXJlbi4gSHZpcyBEZSBpa2tlIGVyIGVuaWcsIGtsaWtrZXIgRGUgcIwgIklra2UgZW5pZyIuF1Byb2dyYW12YXJlbGlzZW5zYXZ0YWxlXkRlbm5lIHRla3N0ZW4ga2FuIGlra2UgYXJraXZlcmVzLiBEaXNrZW4ga2FuIHa+cmUgZnVsbCBlbGxlciBsjHN0LCBlbGxlciBmaWxlbiBrYW4gdr5yZSBsjHN0LiBAS2FuIGlra2Ugc2tyaXZlIHV0LiBGb3JzaWtyZSBkZWcgb20gYXQgZHUgaGFyIHZhbGd0IGVuIHNrcml2ZXIuIA==</data>
			<key>ID</key>
			<string>5016</string>
			<key>Name</key>
			<string>Norwegian</string>
		</dict>
	</array>
	<key>styl</key>
	<array>
		<dict>
			<key>Attributes</key>
			<string>0x0000</string>
			<key>Data</key>
			<data>AAgAAAAAAA4ACwAVAXAADgAAAAAAAAAAABMADAAJABUAcAAMAAAAAAAAAAABdwAOAAsAFQFwAA4AAAAAAAAAAAGAAAwACQAVAHAADAAAAAAAAAAABccADAAJABUAcAAMAAAAAAAAAAAFyAAOAAsAFQFwAA4AAAAAAAAAAAXTAAwACQAVAHAADAAAAAAAAAAABdUADAAJABUAcAAMAAAAAAAA</data>
			<key>ID</key>
			<string>5003</string>
			<key>Name</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
